# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Pronama chan'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atom-pronama-chan:toggle' },
        { 'label': 'Round Theme', 'command': 'atom-pronama-chan:roundTheme' }
      ]
    ]
  }
]
